*{
    margin: 0;
    padding: 0;
}
/*********************************/

body{
    display: grid;
    grid-template-columns: 280px 3fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
}

/****************************************/
#sidebar{   
    grid-row: 1/3;
    padding: 15px;
    background-color: #1e1b4b;
    width: 250px;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    gap:30px;
    color:#e0e7ff;
    fill:  #e0e7ff;
}
.dashboard{
    align-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
}
.side_top,
.side_bottom{
    display: grid;
    grid-template-columns: 30px 1fr;
   font-size: 1.3em;
   line-height: 30px;
}   
.side_bottom{
    grid-template-rows: repeat(3, 30px);
}
/*****************************************/
#header{
    background-color: #e0e7ff;
    z-index: 1;
    grid-column: 2/3;
    border-bottom: 3px solid rgba(0, 0, 0, 0.750);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px;
}

.search_bar{
display: flex;
align-items: center;
margin-left: 50px;
}
.search_bar input{
    width: 500px;
    height: 25px;
    border-radius: 25px;
    border:none;
    background-color: rgb(224, 224, 224);
    grid-column: 1;
    grid-row: 1;
}

.header_top_info{
   justify-self: center;
   display: flex;
   align-items: center;
   gap:25px;
   font-size: 18px;
   font-weight: 800;
}
.userlogo{
    background-color: #6366f1;
    border-radius: 50%;
}
.userinfo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap:15px;
  margin-left:50px;
}

.header_bottom_button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_bottom_button button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: #3730a3;
    font-size: 20px;
    color: #e0e7ff;
}
.header_bottom_button button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/**********************************************/


#main_container{
    grid-column: 2;
    display:grid;
    grid-template-columns: 3fr 1fr;
    background-color: #4338ca;
    padding: 30px;
}
#main_container h2{
    color:#e0e7ff;
    margin-bottom: 15px;
}

.announcements_container{
    padding: 15px;
    background-color: #a5b4fc;
    width: 250px;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.281);
    margin-bottom: 15px;
}
.announcements_container p{
    color: #3730a3;
}
.blackbar{
    margin: 10px;
    background-color: black;
    height: 1px;
    opacity: 0.3;
}
.projects{
    grid-row: 1/3;
}
.cards_container{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    gap: 100px
}
.cards_container .card_items{
    background-color: #a5b4fc;
    border-left: 5px solid #a30000;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.281);
    padding: 12px;
    display: grid;
}
.cards_container .card_icons{
    grid-column: 2;
    grid-row: 2;
    align-self: flex-end;
}






.trending{
grid-column: 2;
}
.trending_container{
    padding: 15px;
    background-color: #a5b4fc;
    width: 250px;
    display: grid;
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: 70px 150px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.281);
}
.trending_container div{
    grid-column: 2;
}